 /* bg-blue{
    background-color: #2c71e0;
 } */
 /* .color{
    margin-bottom: 1px;
    background-color: #c7ebff;
 } */
 /* .nav-item:hover{
    background-color: gray;
 } */
 /* body {
   background-image: linear-gradient(to right top,#D91B23,#124FEB);
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center
} */
.border-radius{
  border-radius: none;
}
 .edit{
   justify-content: space-between;
 }
 .hdown{
   background-color: #2c56cd;
   width: 100%;
   height: 650px;
   margin-top: 0px;
  
 }
.badge{
  background-color: #c7ebff;
  color: rgb(38, 37, 37);
  border-radius: 0px;
}
 .header{
   background-color:#2c56cd ;
  
 }
 .bgcolor{
   background-color: #2c56cd;
 }
 h5{
color: white;
font-size: 14px;
padding-top: 5px;
 }
 h5:hover{
  color: rgb(136, 131, 131);
  transition-duration: 1s;
 }
  
 cars:hover{
color: rgb(136, 131, 131);
transition-duration: 1s;
 }
 .trans:hover{
  transform: scale(1.2);
  transition-duration: 1s;
 }
 .mid{
  background-color:#c7ebff;
  width: 100%;
  height: 85px;
  display: flex;
  justify-content: space-evenly;
  justify-content: center;
  align-items: center;
 }
 .mid1{
  width: 100%;
  height: 170px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
 }
 /* .grid{
  display: grid;
  grid-template-columns: 8px 8px 8px 8px ;
  grid-template-rows: auto auto auto;
 column-gap: 20px;
grid-row:20px ; 
width: 90%;
height: 650px; ;

 }
.items1{
grid-row-start:1 ;
grid-row-end: 3;
grid-column-start: 1;
grid-column-end: 3;
}
 .item{
  border: 1px solid black;
 } */
.mid2{
  width: 100%;
  height: 170px;
}
 .image4{
  border: 1px solid white;
  border-radius: 10px;
  
 }
.image4:hover{
  /* transform: scale(1.0); */
  opacity: 0.8;
  transition-duration: 1s;
}
.uniq{
  font-size: 15px;
}
.unique{
  font-size: 22px;
  color: rgb(72, 69, 69);
}
.hov:hover{
  background-color: rgb(126, 126, 126);
  /* transition-duration: 1s; */
}
.foot{
width: 100%;
background-color: #1d262d;
height: 350px;
margin-top: 80px;
display: flex;
justify-content: space-between;
}
li{
  color: rgb(96, 94, 94);
list-style: none;
}
li:hover{
  color: white;
}
.adjust1{
  background-color: rgb(38, 38, 241);
  width: 30px;
  height: 30px;

}
.adjust2{
  background-color:#55acee;
  width: 30px;
  height: 30px;
  margin-left: 12px;
}
.adjust3{
  background-color: red;
  width: 30px;
  height: 30px;
  margin-left: 12px;
}
.adjust4{
  background-color:#ae3d99;
  width: 30px;
  height: 30px;
  margin-left: 12px;
}
.adjust5{
  background-color: red;
  width: 30px;
  height: 30px;
  margin-left: 12px;
}
.dot{
  
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
   justify-content: space-evenly;
   width: 100%;
    height: 390px;
    background-color: transparent;  
    
}

.dot2{
  background:linear-gradient(to right,rgba(43, 73, 192, 0.9), rgba(17, 162, 143, 0.9)),url(./images/964f58b6a12e1b2e627e8d505958023b.png);
  max-height: 420px;
  max-width: 100%;

}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  column-gap: 10px;
  row-gap: 10px;
  border-radius: 10px;

}
.grid-items{
  position: relative;
}
.grid-items p{
  font-weight: 600;
  position: absolute;
 bottom: 35px;
 left: 15px;
 color: white;
 letter-spacing: .5px; 
}
.grid-item-large p{
  font-weight: 600;
  position: absolute;
  bottom: -50%; 
 left: 83px;
 color: white;
 letter-spacing: .5px;
 z-index: 2; 
}



.grid-item-large {
  grid-area: 1/1/3/3;
}

.grid-item-large img{
  position: relative;
  max-width: 100%;
  height: 95.2%
}


.grid-items img{
  width: 100%;
  transition: all 0.3s;
  height: 90%;
}

.last{
  width: 710px;
  display: flex;
  justify-content: space-evenly;
} 

.footer2-right select{
  margin-right: 25px;
  font-size: 16px;
  font-weight: 600;
  background: transparent;
  border: 2px solid white;
  color: white;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  padding-right: 12px;
  width: 120px;
  height:50px ;
  border-radius: 4px;
}


.footer2-right select option{
  background-color: #1d262d;
}

